<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="manifest" href="./manifest.json">
    <title>Rijksmuseum</title>
</head>
<body>
    <header>
        <form action="/search">
          <div class="search-wrapper">
            <input name="searchTerm" type="search" id="search" placeholder="Zoek een kunstwerk" data-search>
          </div>
        </form>
        <img loading="lazy" src="./img/rijksmuseum-logo-png-transparent.webp" alt="rijksmuseum-logo-transparent">
      </header>
    
        <section></section>
    <main>
        <section>
            <ul id="home">
                <% for (let i = 0; i < data.artObjects.length; i++) { %>
                <li>
                    <img loading="lazy" src="<%= data.artObjects[i].webImage.url.slice(0, -3) + "=s200" %>" alt="<%= data.artObjects[i].title %>">
                    <h2><%= data.artObjects[i].title %></h2>
                    <p><%= data.artObjects[i].principalOrFirstMaker %></p>
                    <a href="/details/<%= data.artObjects[i].objectNumber %>">View details</a>
                </li>
                <% } %>
            </ul>
        </section>
    </main>
    <script src="main.js"></script>
</body>
</html>
